.json_view {
}

.json_row {
    display: flex;
}

.json_key {
    flex: 0 0;
}

.json_value {
    flex: 0 0;
}

.json_delimiter {
    min-width: 10px;
    flex: 0 0;

    &::after {
        content: ':';
    }
}