body {
  background: grey;

  div {
    background-color: red;
    background-image: url(../assets/screen2.png);
    color: white;

    width: 300px;
    height: 300px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}
