.request_row {
  padding: 5px;

  .request_method {
    padding: 5px;
    display: inline-block;
  }

  .request_url {
    padding: 5px;
    display: inline-block;
  }

  .request_response_status {
    padding: 5px;
    display: inline-block;
  }

  .request_sent_data {
  }

  .request_received_data {
  }

  .request_expand_mark {
    display: inline-block;
    min-width: 10px;
  }

  .sent_expand_mark {
    display: inline-block;
    min-width: 10px;
  }

  .received_expand_mark {
    display: inline-block;
    min-width: 10px;
  }

  .request_header {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    max-height: 200px;
    max-width: 500px;
    overflow: scroll;
    padding: 5px;
  }

  .request_body {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    max-height: 200px;
    max-width: 500px;
    overflow: scroll;
    padding: 5px;
  }

  .request_row_extra {
    padding: 5px;
  }

  .json_view {
    padding-left: 0;
    background-color: rgba(0, 0, 255, 0.1);

    .json_key.sub_json {
      background-color: rgba(0, 0, 255, 0.1);
    }

    .json_delimiter.sub_json {
      background-color: rgba(0, 0, 255, 0.1);
    }
  }
}