.json_view {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: start;

    textarea {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; 
        height: 100%;

        box-sizing: border-box;         /* For IE and modern versions of Chrome */
        -moz-box-sizing: border-box;    /* For Firefox                          */
        -webkit-box-sizing: border-box; /* For Safari                           */
        
        margin:0;
        padding:0;
        border:none;
        font-size:8.5px;

        resize: none;
    }
}

.json_key {
    position: relative;
    grid-column-start: 2;
    align-self: start;
}

.json_value {
    position: relative;
    grid-column-start: 5;
    // padding-right: 5px; // looks fun

    // break work support
    //-ms-word-break: break-all;
    //word-break: break-all;
    //word-break: break-word; /* Non standard for WebKit */
    //-webkit-hyphens: auto;
    //-moz-hyphens: auto;
    //hyphens: auto;
}

.json_delimiter {
    grid-column-start: 4;
    align-self: start;

    padding-left: 5px;
    padding-right: 5px;
}

.json_delete {
    grid-column-start: 3;
    align-self: start;

    padding-left: 5px;
    padding-right: 5px;
}

.json_expand {
    grid-column-start: 1;
    align-self: start;

    min-width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}