.request_row {
  padding: 5px;

  .request_method {
    padding: 5px;
    display: inline-block;
  }

  .request_url {
    padding: 5px;
    display: inline-block;
  }

  .request_response_status {
    padding: 5px;
    display: inline-block;
  }

  .request_name {
    padding: 5px;
    background: lightsteelblue;
    display: inline-block;
    position: relative;

    min-height: 18px;
    vertical-align: bottom;
  }

  .request_create_stub_button {
    padding: 5px;
    background: lightgray;
    display: inline-block;
  }

  .request_delete_button {
    padding: 5px;
    background: lightcoral;
    display: inline-block;
  }

  .stub_group_add_button {
    padding: 5px;
    background: lightgreen;
    display: inline-block;
  }

  .request_run_button {
    padding: 5px;
    background: orange;
    display: inline-block;
  }

  .request_sent_data {
  }

  .request_received_data {
  }

  .request_headers {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    overflow: scroll;
    padding: 5px;
  }

  .request_body {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    overflow: scroll;
    padding: 5px;
  }

  .request_row_extra {
    padding: 5px;
  }

  .json_view {
    padding-left: 0;
    background-color: rgba(0, 0, 255, 0.1);

    .json_key.sub_json {
      background-color: rgba(0, 0, 255, 0.1);
    }

    .json_delete.sub_json {
      background-color: rgba(0, 0, 255, 0.1);
    }

    .json_delimiter.sub_json {
      background-color: rgba(0, 0, 255, 0.1);
    }
  }
}