.stub_group_row {
  padding: 5px;

  .stub_group_name {
    padding: 5px;
    display: inline-block;
  }

  .stub_group_delete_button {
    padding: 5px;
    background: lightcoral;
    display: inline-block;
  }

  .stub_group_status {
    padding: 5px;
    background: lightgoldenrodyellow;
    display: inline-block;
  }
}
